<nav class="bg-purple-700">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <a href="#" class="text-white font-bold text-lg"> Home </a>
        </div>
        <div class="flex space-x-4">
            <button [routerLink]="['/events']" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" >All events</button>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" [routerLink]="['/events/new']">Create Event</button>
          <div class="flex items-center space-x-2">
            <span class="text-white">Lakshya</span>
            <img src="user-avatar.jpg" alt="User Avatar" class="w-8 h-8 rounded-full">
          </div>
        </div>
      </div>
    </div>
  </nav>
  

 